.reset();
.container {
	.wrapper();
}

body {
	background-color: @bg-color;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  color: @accent-color;
}

a {
	color: @accent-color;
	text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    transition: all 0.15s ease-in-out;
  }

  &:focus {
    outline-color: @accent-color;
  }
}

button {
  &:focus {
    outline-color: @accent-color;
  }
  &:hover,
  &:active {
    outline: none;
  }
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  margin-bottom: 80px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 0;
  border: none;
  font: inherit;
  font-weight: 700; 
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 6px;
  background-color: #1f6c45;
  box-shadow: 0 -3px darken(#1f6c45, 5%) inset; 
  transition: 0.2s;
  
  .xs-block({
    padding: 1px 10px;
    font-size: 22px;
  });

  &:hover {
    background-color: darken(#1f6c45, 5%);
  }

  &:active {
    background-color: darken(#1f6c45, 10%);
    box-shadow: 0 -3px darken(#1f6c45, 15%) inset;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 2;
  opacity: 0.5;

  &__show {
    display: block;
    opacity: 0.5;
  }

  &__hide {
    display: none;
    opacity: 0;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: @modal-bg;
  border-radius: 10px;
  z-index: 4;
  &__hide {
    display: none;
  }

  &__show {
    display: block;
  }

  &--btn {
    font-size: 0;
    border: none;
    background: none;
    padding: 0;
    position: absolute;
    top: -10px;
    right: -20px;
    width: 17px;
    height: 17px;
    background: url(../../img/delete.svg) center no-repeat;
    background-size: contain;
  }
}

.header {
  font-size: 48px;
  margin-bottom: 50px;

  .md-block({
    margin-bottom: 35px;
  });
  .sm-block({
    margin-bottom: 15px;
    letter-spacing: 4px;
  });
  .xs-block({
    margin-bottom: 25px;
  });
  .from-to(0px, 340px, {
    font-size: 40px;
  });
}