.alt-nav {
	position: fixed;
	top: 50%;
	right: 2%;
	display: none;

	.sm-block({
		display: none;
	});

	&__visible {
		display: block;
	}

	&--item {
		text-align: right;

		&:hover {
			.alt-nav--text {
				display: inline-block;
			}

			.alt-nav--link::after {
				background-color: @accent-color;
			}
		}

		&__active {
			.alt-nav--text {
				display: inline-block;

				@media screen and (max-width: 1400px){
					display: none;
				};
			} 

			.alt-nav--link::after {
				background-color: @accent-color;
			}
		}
	}

	&--link {
		font-style: italic;

		&::after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 12px;
			height: 12px;
			margin-left: 10px;
			border: 2px solid @accent-color;
			border-radius: 50%;
		}
	}

	&--text {
		display: none;
	}
}


