.contacts {
	.col();
	.size(9);
	.size-lg(11);
	.size-md(12);
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
	.sm-block({
		margin-bottom: 0;
	});

	&--wrap {
		display: flex; 
		justify-content: space-around; 
		align-items: center;
		.sm-block({
			flex-wrap: wrap;
		});
	}

	&--map {
		.size(7);
		.size-lg(6);
		.size-md(7);
		.size-sm(11);
		.size-xs(12);
		display: inline-block;
		margin-right: 40px;
		border-radius: 15px;
		overflow: hidden;
		.md-block({
			margin-right: 30px;
		});
		.sm-block({
			margin: 0 auto;
			margin-bottom: 20px;
		});
	}

	&--frame {
		width: 100%;
		height: 320px;
		display: block;
		border: none;
		.lg-block({
			height: 300px;
		});
		.md-block({
			height: 280px;
		});
		.sm-block({
			height: 270px;
		});
	}

	&--list {
		.size-sm(11);
		.size-xs(12);
		display: inline-block;
		text-align: left;
	}

	&--item {
		margin-bottom: 15px;

		&:hover .contacts--link,
		&:active .contacts--link {
			color: lighten(@accent-color, 20%);
			
			&__address {
				&::before {
					background-image: url(../img/address-active.svg);
				}
			}

			&__phone {
				&::before {
					background-image: url(../img/phone-active.svg);
				}
			}

			&__email {
				&::before {
					background-image: url(../img/email-active.svg);
				}
			}

			&__inst {
				&::before {
					background-image: url(../img/instagram-active.svg);
				}
			}

			&__fb {
				&::before {
					background-image: url(../img/facebook-active.svg);
				}
			}

		}
	}

	&--link {
		display: flex;
		align-items: center;
		.md-block({
			font-size: 16px;
		});
		.sm-block({
			justify-content: center;
		});
		.xs-block({
			font-size: 15px;
		});

		&::before {
			content: '';
			display: inline-block;
			margin-right: 7px;
			width: 20px;
			height: 20px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			.md-block({
				width: 16px;
				height: 16px;
				margin-right: 5px;
			});
		}

		&__address {
			&::before {
				background-image: url(../img/address.svg);
			}
		}

		&__phone {
			&::before {
				background-image: url(../img/phone.svg);
			}
		}

		&__email {
			&::before {
				background-image: url(../img/email.svg);
			}
		}

		&__inst {
			&::before {
				background-image: url(../img/instagram.svg);
			}
		}

		&__fb {
			&::before {
				background-image: url(../img/facebook.svg);
			}
		}
	}
}