.main-header {
	position: fixed;
	top: 0;
	left: 0; 
	width: 100%;
	padding: 5px 0;
	background-color: @header-bg;
	color: @header-text;
	z-index: 2;

	.xs-block({
		padding: 2px 0;
	});

	&--container {
		display: flex;
		justify-content: center;
		.md-block({
			padding: 0;
		});
		.sm-block({
			padding: 0;
		});
		.xs-block({
			padding: 0;
		});
	}

	&--nav {
		.size(6);
		.col();
		margin-top: auto;
		margin-bottom: auto;

		.md-block({
			width: auto;
			margin-right: auto;
		});
	}

	&--list {
		display: flex;
		align-items: center;
		justify-content: space-around;

		.md-block({
			display: block;
			position: absolute;
			top: 100%;
			left: 0;
			background-color: @header-bg;
			overflow: hidden;
			transition: all 1.5s ease;
		});

		&__show {
			.md-block({
				max-height: 100vh;
			});
		}

		&__hide {
			.md-block({
				max-height: 0;
			});
		}


	}

	&--item {
		display: inline-block;
		.md-block({
			display: block;
			font-size: 23px;
			text-align: center;
			border: 2px solid fade(@secondary-accent-color, 70%);
			border-bottom: none;
		});

		&__active .main-header--link{
			color: @secondary-accent-color;
		}

		&:hover .main-header--link,
		&:focus .main-header--link {
			color: @secondary-accent-color;
			.md-block({
				background-color: fade(@header-text, 40%);
			});	
		}
		&:active .main-header--link {
			color: @secondary-accent-color;
			.md-block({
				background-color: fade(@header-text, 55%);
			});
		}

		&:last-child {
			.md-block({
				border-bottom: 2px solid fade(@secondary-accent-color, 70%);
			});
		}
	}

	&--link {
		display: block;
		color: @header-text;

		.md-block({
			padding: 20px 30px;
		});
	}
	&--mobile {
		padding: 0;
		border: none;
		font-size: 0;
		background-color: transparent;
		display: none;
		margin: -5px 0;

		.md-block({
			display: block;
		});

		&::before {
			content: "≡";
			color: @secondary-accent-color;
			font-size: 40px;
		}
		&__active {

		}
	}
	
	&--purchase {
		display: flex;
		align-items: center;
		.col();
	}

	&--orders {
		display: flex;

		&:hover,
		&:focus,
		&:active {
			.main-header--buy {
				&::before {
					background-image: url(../img/cart-active.svg);
				}
			}
			.main-header--amount {
				color: @secondary-accent-color;
				border-color: @secondary-accent-color;
				background-color: fade(@secondary-accent-color, 20%);
			}
		}
	}

	&--amount {
		display: inline-block;
		margin: auto 0 auto 8px;
		padding: 3px 9px;
		order: 1;
		background-color: #344f45;
		color: @header-text;
		border: 2px solid #20312b;
		border-radius: 50%;

		.sm-block({
			margin-left: 3px;
			padding: 1px 6px;
			font-size: 16px; 
		});
	}

	&--buy {
		font-size: 0;

		&::before {
			content: '';
			display: inline-block;
			width: 40px;
			height: 38px;
			background: url(../img/cart.svg) center no-repeat;
			background-size: cover;

			.sm-block({
				width: 33px;
				height: 31px;
			});

			.xs-block({
				width: 37px;
				height: 35px;
			});
		}
	}
}