.shop {
	text-align: center;

	&--article {
		margin-top: 50px;

		&__backpacks {
			margin-top: 0;
		}
	}

	&--list {
		.row-flex();
		justify-content: flex-start;
	}

	&--item {
		.col();
		.size(3);
		.size-md(4);
		.size-sm(6);
		margin-bottom: 50px;
		.from-to(0px, 340px, {width: 100%;});
	}
}

.product {
	display: flex;
	flex-direction: column;

	&--img {
		position: absolute;
		opacity: 0;
		max-height: 200px;
		width: auto;
		transition: transform 0.4s ease-in-out; 
		.xs-block({
			max-height: 130px;
		});

		&:hover {
			transform: scale(1.5);
		}		

		&__active {
			position: static;
			opacity: 1;
			z-index: 1;
		}
	}

	&--more-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-grow: 1;

		&__img {
			min-height: 200px;
		} 

		&__small {
			min-height: 150px;

			.product--img {
				max-height: 100px;
			}
		}

		&__medium {
			min-height: 200px;

			.product--img {
				max-height: 150px;
			}
		}
	}

	&--about {
		flex-grow: 1;
	}

	&--colors {
		margin-bottom: auto;
	}

	&--color {
		font-size: 0;
		padding: 0;
		border: 0;
		box-sizing: border-box;
		width: 19px;
		height: 19px;
		border-radius: 50%;
		border: 2px solid @bg-color;
		background-color: red;
		margin-bottom: 10px;
		transition: border 0.2s ease-in-out;

		.sm-block({
			width: 22px;
			height: 22px;
		});
		.xs-block({
			width: 20px;
			height: 20px;
		});

		&:hover,
		&:active,
		&:focus {	
			box-sizing: border-box;
			border: 2px solid #faee01;
		}

		&__active {
			box-sizing: border-box;
			border: 2px solid #faee01;
		}
	}

	&--about {
		margin-bottom: 5px;
		.xs-block({
			font-size: 16px;
		});
	}

	&--size {
		margin-bottom: 10px;
		.xs-block({
			font-size: 16px;
		});
	}

	&--price {
		margin-bottom: 15px;
		display: block;
		margin-top: auto;
		font-size: 27px;
		font-style: italic;
		color: @price-color;
		.xs-block({
			font-size: 22px;
			margin-bottom: 15px;
		});
	}

	&--buy {
		align-self: center;
	}
	
	&--summary {
		display: none;
	}
}

.red{
	background-color: #C2272A;	
}

.light-red {
	background-color: #D41132;
}

.beige {
	background-color: #F3CFB3;
}

.eggplant {
	background-color: #603B50;
}

.blue {
	background-color: #002157;
}

.dark-blue {
	background-color: #2e3343;
}

.pink {
	background-color: #e38a8a;
}

.dark-pink {
	background-color: #FF264F;
}

.light-pink {
	background-color: #FDC8DB;
}

.sky-blue {
	background-color: #6ebac5;
}

.gray {
	background-color: #b0b0b0;
}

.dark-gray {
	background-color: #605F5D;
}

.burgundy {
	background-color: #601419;
}

.brown {
	background-color: #754c24;
}

.flesh {
	background-color: #b6996a;
}

.black {
	background-color: #171d1d;
}

.dark-brown {
	background-color: #592211;
}

.green {
	background-color: #006954;
}

.light-green {
	background-color: #79D176;
}

.white {
	background-color: #FAEEDC;
}

.mustard {
	background-color: #B87140;
}

.violet {
	background-color: #bda7b3;
}

.dark-violet {
	background-color: #4E417F;
}

.bordo {
	background-color: #54172A;
}

.golden {
	background-color: #C7AD80;
}

.silver {
	background-color: #6B6462;
}

.orange {
	background-color: #F06235;
}

.dark-golden {
	background-color: #AB8B72;
}

.turquois {
	background-color: #BFDBD7;
}

.details {
	width: 90%;
	padding: 25px 15px;

	&--name {	
		font-size: 30px;
		text-align: center;
		margin-bottom: 20px;
		color: @price-color;
	}	

	&--img {
		max-height: 200px;
		margin: 0 20px;	
		float: left;
		display: none;

		&__active {
			display: block;
		}
	}

	&--wrap {
		display: flex;
		margin-bottom: 20px;
	}

	&--header {
		text-align: center;
		font-size: 23px;
		margin-bottom: 5px;
		color: @price-color;
	}

	&--info {
		font-size: 18px;
		margin-bottom: 10px;
	}

	&--size {
		font-size: 23px;
		margin-bottom: 10px;
		color: #719242;
	}

	&--price {
		font-size: 23px;
		color: #719242;
	}

	&--return {
		font-size: 18px;
	}

	
}